background-size.debug-router{
    width: 100%;
    text-align: center
}

@font-face {
    font-family: 'quick_end_jerkregular';
    src: url('../fonts/quick_end_jerk-webfont.eot');
    src: url('../fonts/quick_end_jerk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quick_end_jerk-webfont.woff2') format('woff2'),
         url('../fonts/quick_end_jerk-webfont.woff') format('woff'),
         url('../fonts/quick_end_jerk-webfont.ttf') format('truetype'),
         url('../fonts/quick_end_jerk-webfont.svg#quick_end_jerkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*breadcrumb*/

h4 {font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}

a {
    color: #000;
    text-decoration: none;
}

.breadcrumb {
    padding: 8px 25px;
    margin-bottom: 20px;
    list-style: none;
    background-color: rgba(117, 171, 42, 0.6);
    border-radius: 3px;
}
/*Home page*/

/* Main page panel image bg 1, 2 & 3 */

.imagebg0{
   background: url(./../img/signup.png) no-repeat;
   height: 400px;
    background-size: contain;
    width: 100%;
}

.imagebg1{
    background: url(./../img/brewerysignupblock.gif) no-repeat;
    height: 400px;
    background-size: contain;
    width: 100%;
}

.imagebg2{
    background: url(./../img/beerssignupblock.gif) no-repeat;
    height: 400px;
    background-size: contain;
    width: 100%;
    
}

.panel-body {
    padding: 15px;
    margin-top: 20px;
    height: 500px;
}

/* Main page panel image bg 1, 2 & 3 */

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
}

/*form edit*/

.form-control {
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*form edit*/

.texttitle h1 {
    font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/*Footer text*/
.textfooter a {
    font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

/*log in page input fields */

.form-control-login {
    max-width: 330px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.btn-lg-bottom{
    position: absolute;
    bottom: 130px;
    left: 100px;
}

/*main home page slider below*/

.fill {
	height: 500px!important;
}

#carousel1{
	background: url(./../img/beerbackground.png) right bottom no-repeat, url(./../img/beerleft.png) left bottom repeat;
	width: 100%;
    height: 100%;
    background-size: cover;

}

#carousel2{
    background: url(./../img/beerbackground.png) right bottom no-repeat, url(./../img/hopsheaderleft.png) left bottom repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#carousel3{
    background: url(./../img/beerbackground.png) right bottom no-repeat, url(./../img/barleyheaderleft.png) left bottom repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.logo1 {
	position: absolute;
	top:0;
	right:0;
}

/*main home page slider logo*/

.logo1 {
    	right:50%;
    	transform: translateX(50%);
    }

}

/*main home page slider logo*/

/* single item view image holders */

/*
 * ==== Polaroid shape image holder on brewery listing subpages
 */

.polaroid {
  position: relative;
  margin:0 auto;
  background-size: contain;

}
 
.polaroid img {
  border: 10px solid #000;
  border-bottom: 45px solid #000;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
          max-width: 335px;

}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 75%;
  bottom: 0px;
  font: 400 18px/1 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
}

/* sign up and edit pages backgound pic  */

.beermugsignup{
    position: absolute;
            right:-20px;
            top: 50px;

        }
}

/* carousel variants*/

.carousel-caption {
    position: absolute;
    right: 15%;
   	top: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-caption h1{
	font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 9em;
	color: #75AB2A;
    text-shadow: 3px 5px hsla(0,100%,100%,1);
}

.carousel-caption h2{
	font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
}

/*text style changes */


.texttype1 h1{
    font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9em;
    color: #000000;
    text-shadow: 3px 5px hsla(0,100%,100%,1);
}

/*text style changes */

.texttype2 h1{
    font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9em;
    color: brown;
    text-shadow: 3px 5px hsla(0,100%,100%,1);
}


/*navbar MENU */

.navbar-brand{ 
	font-family: 'quick_end_jerkregular';
	color: #fff; 
}

/*log in page ul inline*/

.list-inlne 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-inlne 
li {
    display: inline;
}

.login-center
  {
    text-align: center;
    display: block;
    margin-top: 0em;
}

/*media rules ======================================*/

@media(max-width:900px) {
    .carousel-caption h1 {
    	font-size: 3em;
    	padding-top: 46px;

    }

@media(max-width:900px) {
    .carousel-caption h2 {
    	font-size: 2em;
    	padding-top: 30px;

    } 

/*user info panel*/

.background{
	background-color: #000;

}

/*responsive form edit width*/

@media(max-width: 900px){
.form-control {
        max-width: 250px;
}

@media(max-width: 900px){
.controls{
        max-width: 250px;
        padding-left: 10px;

}


@media(max-width: 400px){
.btn-centered-responsive {
    position:absolute;
    top: center;
}

/*responsive form edit*/


/*home page main title center media rule*/

@media(max-width: 900px){
.texttitle h1 {
font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
}

@media(max-width: 400px){
.panel-body {
    margin-top: 0px;
    height: 275px;
}

/*home page content responsive*/

 @media(max-width: 400px){
.imagebg0{
    background: url(./../img/signupresponsive.png) center no-repeat;
    background-size: contain;
    width: 100%;
    padding: 10px; 
}

@media(max-width: 400px){
.imagebg1{
    background: url(./../img/step2brewweriesresponsive.png) center no-repeat;
    background-size: contain;
    width: 100%;
    
    padding: 10px; 

}

@media(max-width: 400px){
.imagebg2{
    background: url(./../img/step3beersresponsive.png) center no-repeat;
    background-size: contain;
    width: 100%;
    
    padding: 10px; 

}

@media{
.btn-lg-bottom {
    position: absolute;
    bottom: 5px;
    left: 80px;
}

/*mobile size form logo*/

@media(max-width: 400px){
.logosignup {
    display: none;
    }

@media(max-width: 400px){
    .beermugsignup{
    display: none;
        }
}
/*to align breweries and beer headers*/

.img-portfolio h3{
    text-align: center;
}

/*footer*/

@media(max-width: 400px){
.col-centered {
    text-align: center;
/*    margin-left: 80px;
*/}



@media(max-width: 400px){
.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
    background-size: contain;
    max-width: 375px;
}

@media(max-width: 400px){
    .col-md-6{
        text-align: center;

    }

/*@media(max-width: 400px){
.col-centered-responsive {
     reset the text-align 
    text-align:center;
    /* inline-block space fix */


