.debug-router{
    width: 100%;
    text-align: center
}

@font-face {
    font-family: 'quick_end_jerkregular';
    src: url('../fonts/quick_end_jerk-webfont.eot');
    src: url('../fonts/quick_end_jerk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quick_end_jerk-webfont.woff2') format('woff2'),
         url('../fonts/quick_end_jerk-webfont.woff') format('woff'),
         url('../fonts/quick_end_jerk-webfont.ttf') format('truetype'),
         url('../fonts/quick_end_jerk-webfont.svg#quick_end_jerkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Main page panel image bg 1 & 2 */

.imagebg1{
    background: url(./../img/brewerysignupblock.png) no-repeat;
    height: 400px;
}

.imagebg2{
    background: url(./../img/beerssignupblock.png) no-repeat;
    height: 400px;
}



/* Main page panel image bg 1 & 2 */

/*form edit*/

.form-control {
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*form edit*/


.texttitle h1 {
    font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/*Footer text*/
.textfooter a {
    font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}


/*log in page input fields */

.form-control-login {
    max-width: 330px;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.btn-centered {
    position:absolute;
    top: center;


}

/*main home page slider below*/

.fill {
	height: 500px!important;

}

#carousel1{
	background: url(./../img/beerbackground.png) right bottom no-repeat, url(./../img/beerleft.png) left bottom repeat;
	width: 100%;
    height: 100%;
    background-size: cover;

    /*-webkit-clip-path: polygon(100% 0, 0 100%, 0 0);
	clip-path: polygon(100% 0, 0 100%, 0 0);*/
}

#carousel2{
    background: url(./../img/beerbackground.png) right bottom no-repeat, url(./../img/hopsheaderleft.png) left bottom repeat;
    width: 100%;
    height: 100%;
    background-size: cover;

    /*-webkit-clip-path: polygon(100% 0, 0 100%, 0 0);
    clip-path: polygon(100% 0, 0 100%, 0 0);*/
}

#carousel3{
    background: url(./../img/beerbackground.png) right bottom no-repeat, url(./../img/barleyheaderleft.png) left bottom repeat;
    width: 100%;
    height: 100%;
    background-size: cover;

    /*-webkit-clip-path: polygon(100% 0, 0 100%, 0 0);
    clip-path: polygon(100% 0, 0 100%, 0 0);*/
}


.logo1 {
	position: absolute;
	top:0;
	right:0;
}

@media(max-width:767px) {
    #carousel1 {
    	/*background: url(./../img/overlaygreen.png) right bottom no-repeat;*/
/*        width:!auto;
       vertical-align: center;*/

    }

    .logo1 {
    	right:50%;
    	transform: translateX(50%);
    }

}

.carousel-caption {
    position: absolute;
    right: 15%;
   	top: 20%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-caption h1{
	font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 9em;
	color: #75AB2A;
    text-shadow: 3px 5px hsla(0,100%,100%,1);
}

.carousel-caption h2{
	font-family: 'quick_end_jerkregular', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
}

/*main home page slider above*/

/*navbar*/

.navbar-brand{ 
	font-family: 'quick_end_jerkregular';
	color: #fff; 
}

/*media rules*/

@media(max-width:900px) {
    .carousel-caption h1 {
    	font-size: 6em;
    	padding-top: 46px;

    }

@media(max-width:900px) {
    .carousel-caption h2 {
    	font-size: 2em;
    	padding-top: 30px;

    } 

/*user info panel*/

.background{
	background-color: #000;

}

/*form edit*/

@media(max-width: 900px){
    .form-control {
        max-width: 150px;

}


/*to align breweries and beer headers*/

.img-portfolio h3{
    text-align: center;
}

/*main body spacer */

.spacertop{
    width: auto;
    height: 90px;
}

/*footer*/


