<body>

<!-- Page Content -->
    <div class="container">

   
 <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Your Info</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="img/johnny.png" alt="">
                    <div class="caption">
                        <h3>{{ctrl.newAccount.user.name}}<br>
                            <small>Brewmaster</small>
                        </h3>
                        <p>{{ctrl.newAccount.user.email}}</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 backgroundgrey text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ctrl.newAccount.brewery.name}}<br>
                            
                        </h3>
                        <p>{{ctrl.newAccount.brewery.street}}</p>

                         <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                        		</br>
                            <img class="img-responsive" ng-src="{{ctrl.newAccount.brewery.image_main}}" alt="">
                       
                    </div>
                </div>
            </div>  
         

            <div class="row">
	            <div class="col-lg-12">
	                <h2 class="page-header">Your Beers</h2>
	        </div>
			        <div class="col-md-2 col-sm-4 col-xs-6">
		                <div class="thumbnail">
		                    <img class="img-responsive" ng-src="{{ctrl.newAccount.beer.image}}" alt="">
		                    <div class="caption">
		                        <h3>Your Beers <br>
		                            <small>{{ctrl.newAccount.beer.name}}</small>
		                        </h3>
                                <p>{{ctrl.newAccount.beer.description}}</p>
		                        <p>{{ctrl.newAccount.beer.type}}</p>
		                        
		                    </div>
		                </div>
		            </div>  


		            <div class="col-md-2 col-sm-4 col-xs-6">
		                <div class="thumbnail">
		                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
		                    <div class="caption">
		                        <h3>Your Beers <br>
		                            <small>beer.name here</small>
		                        </h3>
		                        <p>info on beer</p>
		                        
		                    </div>
		                </div>
		            </div>  

		             <div class="col-md-2 col-sm-4 col-xs-6">
		                <div class="thumbnail">
		                    <img class="img-responsive" src="http://placehold.it/500x300" alt="">
		                    <div class="caption">
		                        <h3>Your Beers <br>
		                            <small>beer.name here</small>
		                        </h3>
		                        <p>info on beer</p>
		                        
		                    </div>
		                </div>
		            </div>  

         </div>
    </div>
        



</body>
