<body>
    
    <div class="container">

    
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ctrl.beer.name}}
                    <!-- small>{{ctrl.beer.brewery}}</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">{{ctrl.beer.name}}</li>
                </ol>
            </div>
        </div>
        

        <div class="row">

            <div class="col-md-4 text-center">

                <div class="polaroid">
                      <p>{{ctrl.beer.name}}</p>
                      <img src="{{ctrl.beer.image}}"/>
                </div>
                
            </div>

            <div class="col-md-4">
                <h4>Brewery Of Origin</h4>
                <p>{{ctrl.beer.brewery}}</p>
                <h4>Description</h4>
                <p>{{ctrl.beer.description}}</p>
                

            
            </div>

            <div class="col-md-4">
                <h4>Ingredients</h4>
                <p>{{ctrl.beer.ingredients}}</p>
                <h4>Sizes Available</h4>
                <p>{{ctrl.beer.sizes}}</p>
                <h4>Food Pairings</h4>
                <p>{{ctrl.beer.pairs_well}}</p>
                <h4>ABV</h4>
                <p>{{ctrl.beer.strength}}</p>


            </div>

        </div>
        <!-- /.row -->

</body>       