<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ctrl.brewery.name}}
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active"></li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                
                    <div class="losange">
                          <div class="los1">
                            <!-- dynamic image to go here -->
                            <img ng-src="{{ctrl.brewery.image_main}}"/> 
                          </div>
                        </div>

                   </br>
                
                </div>


                <div class="col-md-4">
                
                </br>

                <h3>Brewery Title Name</h3>
                <h3>{{ctrl.brewery.name}}</h3>
                <h3>Address</h3>
                <p>{{ctrl.brewery.street}}</p>
                <p>{{ctrl.brewery.city}}</p>
                <p>{{ctrl.brewery.province}}</p>
                <p>{{ctrl.brewery.postcode}}</p>
                
                <abbr title="Hours">Hours</abbr>: Monday - Sunday<ng></ng></p>
                </div>
                    
                </div>
            </div>

        </div>
         
</body>