<body>
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12 texttitle">
                <h1 class="page-header text-center">Breweries List</h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">The 6ix breweries list</li>
                </ol>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-3 img-portfolio" ng-repeat="brewery in ctrl.breweries">
                <a ng-click="ctrl.goToDetails(brewery)">
                    <img class="img-responsive img-hover" ng-src="{{brewery.image_thumb}}">
                <h4>{{brewery.name}}</h4>
                </a>
                
            </div>
        </div>
        <!-- /.row -->

    
    </div>
</body>
