<head>
	<title>Beers</title>
</head>

<body>

<div class="container">

	<div class="row">
		<br>
		<h4>Add your beers</h4>
		<br>
	        <div class="col-md-8">
					<form name="sentMessage" id="contactForm" novalidate>

						<div class="control-group form-group">
		                        <div class="controls">
 
		                        
		                        	<legend>Beer Name</lengend>
		                     
			                    	   	<!-- angular input element -->
									<input type="text" class="form-control" id="beer name" required data-validation-required-message="Please enter your name." ng-model="ctrl.update.name">
										<!-- angular input element -->
										<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<legend>Brewery</legend>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please enter the brewery of the beer." ng-model="ctrl.update.brewery">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<legend>Type</legend>
		                        	<!-- angular input element -->
									<select id="selectbasic" name="selectbasic" class="form-control" ng-model="ctrl.update.type">
								      <option value="IPA">IPA</option>
								      <option value="Pilsner">Pilsner</option>
								      <option value="Porter">Porter</option>
								      <option value="Ale">Ale</option>
								      <option value="Lager">Lager</option>
								      <option value="Blonde">Blonde</option>
								      <option value="Wheat">Wheat</option>
								      <option value="SpecialtyBeer">Speciality Beer</option>
								    </select>

									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<legend>Main Image</legend>

		                        	<input ngf-select name="beerPhoto" accept="image/*" ngf-max-size="2MB" type="file" ng-model="ctrl.update.image">
		                        	</br>
		                        	<p>Please make sure you press upload photo before next ; ) </p>
									<button class="btn btn-primary btn-md" ng-click="ctrl.upload(ctrl.update.image)">Upload File</button>
									{{ctrl.update.image}}
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<legend>Description</legend>
		                        	<!-- angular input element -->
								<textarea rows="4" cols="50" class="form-control" name="description" required data-validation-required-message="Please enter your address." ng-model="ctrl.update.description"> Enter text here...</textarea>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<legend>Sizes Available</legend>

									<input type="text" name="size" ng-model="ctrl.update.sizes"><br>

								</div>
							</div>

						
							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<legend>Strength</legend>
		                        	<!-- angular input element -->
								<input type="text" class="form-control form-width" id="brewery" required data-validation-required-message="Please enter the abv %" ng-model="ctrl.update.strength">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
							  	<legend>Available</legend>
							    <select id="selectbasic" name="selectbasic" class="form-control" ng-model="ctrl.update.available">
							      <option value="Spring">Spring</option>
							      <option value="Summer">Summer</option>
							      <option value="Autmn">Autumn</option>
							      <option value="Winter">Winter</option>
							      <option value="All Year Round">All year round</option>

							    </select>
							  </div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<legend>Ingredients</legend>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please enter the ingredients seperated by a comma" ng-model="ctrl.update.ingredients">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<legend>Pairs well with</legend>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please list what food the beer goes well with" ng-model="ctrl.update.pairs_well">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

					</form>
			</div>	
	</div>

<div>
	<p>Your Beers:</p>
	<p ng-repeat="beer in ctrl.beers">{{beer.name}}</p>
</div>


<button class="btn btn-primary btn-md" ng-click="ctrl.createBeer(ctrl.update)">Add Beer</button>
<button class="btn btn-primary btn-md" ng-click="ctrl.finish(ctrl.beers)">Finish</button>

</body>