<head>
	<title>Beers</title>
</head>

<body>

<div>
	{{ctrl.beers}}
</div>

<p>Name: <input type="text" ng-model="ctrl.update.name"> (required)</p>
<p>Brewery: <input type="text" ng-model="ctrl.update.brewery"></p>
<p>Type: <input type="text" ng-model="ctrl.update.type"></p>
<p>Image: <input type="text" ng-model="ctrl.update.image"></p>
<p>Description: <input type="text" ng-model="ctrl.update.description"></p>
<p>Sizes: <input type="text" ng-model="ctrl.update.sizes"></p>
<p>Price: <input type="text" ng-model="ctrl.update.price"></p>
<p>Strength: <input type="text" ng-model="ctrl.update.strength"></p>
<p>Available: <input type="text" ng-model="ctrl.update.available"></p>
<p>Ingredients: <input type="text" ng-model="ctrl.update.ingredients"></p>
<p>Pairs Well With: <input type="text" ng-model="ctrl.update.pairs_well"></p>
<p>Draft: <input type="text" ng-model="ctrl.update.draft"></p>

<p>Select by Id: <input type="text" ng-model="ctrl.chooseId"></p>

<button ng-click="ctrl.getAll()">Get All</button>
<button ng-click="ctrl.getOne(ctrl.chooseId)">Get One</button>
<button ng-click="ctrl.post(ctrl.update)">Post</button>
<button ng-click="ctrl.put(ctrl.chooseId, ctrl.update)">Put</button>
<button ng-click="ctrl.del(ctrl.chooseId)">Delete</button>

</body>