<head>
	<title>Beers</title>
</head>

<body>

<div>
	{{ctrl.beers}}
</div>

<div class="container">

	<div class="row">
	        <div class="col-md-8">
					<form name="sentMessage" id="contactForm" novalidate>

						<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<label>Beer Name:</label>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="beer name" required data-validation-required-message="Please enter your name." ng-model="ctrl.update.name">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<label>Brewery</label>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please enter the brewery of the beer." ng-model="ctrl.update.brewery">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<label>Type</label>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please enter the type of beer this is." ng-model="ctrl.update.type">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<label>Main Image</label>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please enter the main image." ng-model="ctrl.update.image">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<label>Description</label>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please enter the main image." ng-model="ctrl.update.description">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<label>Sizes Available</label>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please enter the sizes this is available in available." ng-model="ctrl.update.sizes">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<!-- <div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<!-- <label>Price</label> -->
		                        	<!-- angular input element -->
								<!-- <input type="text" class="form-control" id="brewery" required data-validation-required-message="Please enter the price these retail at" ng-model="ctrl.update.price"> -->
									<!-- angular input element -->
									<!-- <p class="help-block"></p>
								</div>
							</div>  -->

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<label>Strength</label>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please enter the abv %" ng-model="ctrl.update.strength">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
							  	<label>Available</label>
							    <select id="selectbasic" name="selectbasic" class="form-control" ng-model="ctrl.update.available">
							      <option value="1">Spring</option>
							      <option value="2">Summer</option>
							      <option value="3">Autumn</option>
							      <option value="4">Winter</option>
							      <option value="5">All year round</option>

							    </select>
							  </div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<label>Ingredients</label>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please enter the ingredients seperated by a comma" ng-model="ctrl.update.ingredients">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<label>Pairs well with</label>
		                        	<!-- angular input element -->
								<input type="text" class="form-control" id="brewery" required data-validation-required-message="Please list what food the beer goes well with" ng-model="ctrl.update.pairs_well">
									<!-- angular input element -->
									<p class="help-block"></p>
								</div>
							</div>

							<!-- <div class="control-group form-group">
		                        <div class="controls">
		                        	<!-- angular input element -->
		                        	<!-- <label>Draft</label> -->
		                        	<!-- angular input element -->
								<!-- <input type="text" class="form-control" id="brewery" required data-validation-required-message="Please list what food the beer goes well with" ng-model="ctrl.update.draft"> -->
									<!-- angular input element -->
									<!-- <p class="help-block"></p>
								</div>
							</div> -->


					</form>
			</div>	
	</div>




<!-- <p>Name: <input type="text" ng-model="ctrl.update.name"> (required)</p> -->
<!-- <p>Brewery: <input type="text" ng-model="ctrl.update.brewery"></p> -->
<!-- <p>Type: <input type="text" ng-model="ctrl.update.type"></p> -->
<!-- <p>Image: <input type="text" ng-model="ctrl.update.image"></p>-->
 <!-- <p>Description: <input type="text" ng-model="ctrl.update.description"></p> -->
<!-- <p>Sizes: <input type="text" ng-model="ctrl.update.sizes"></p> -->
<!-- <p>Price: <input type="text" ng-model="ctrl.update.price"></p> -->
<!-- <p>Strength: <input type="text" ng-model="ctrl.update.strength"></p> -->
<!-- <p>Available: <input type="text" ng-model="ctrl.update.available"></p> -->
<!-- <p>Ingredients: <input type="text" ng-model="ctrl.update.ingredients"></p> -->
<!-- <p>Pairs Well With: <input type="text" ng-model="ctrl.update.pairs_well"></p> -->
<!-- <p>Draft: <input type="text" ng-model="ctrl.update.draft"></p> -->

<p>Select by Id: <input type="text" ng-model="ctrl.chooseId"></p>

<button ng-click="ctrl.getAll()">Get All</button>
<button ng-click="ctrl.getOne(ctrl.chooseId)">Get One</button>
<button ng-click="ctrl.post(ctrl.update)">Post</button>
<button ng-click="ctrl.put(ctrl.chooseId, ctrl.update)">Put</button>
<button ng-click="ctrl.del(ctrl.chooseId)">Delete</button>

</body>