<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
</head>
<body>

<!-- <div>
	{{ctrl.users}}
</div> -->

<div class="container">

		<div class="row">

		        <div class="col-md-8">

		        	<fieldset>
   					 	<legend>Personal information</legend>

									<div class="control-group form-group">
					                    <div class="controls">
					                    	<!-- angular input element -->
					                    	<label>Full Name</label>
					                    	<!-- angular input element -->
										<input type="text" class="form-control" id="Name" required data-validation-required-message="Please enter your name" ng-model="ctrl.update.name">
											<!-- angular input element -->
										</div>
									</div>

									<div class="control-group form-group">
					                    <div class="controls">
					                    	<!-- angular input element -->
					                    	<label>E-Mail</label>
					                    	<!-- angular input element -->
										<input type="email" name="email" class="form-control" required data-validation-required-message="Please enter your email" ng-model="ctrl.update.email">
											<!-- angular input element -->
											<p class="help-block">(required)</p>
										</div>
									</div>

									<div class="control-group form-group">
					                    <div class="controls">
					                    	<!-- angular input element -->
					                    	<label>Password</label>
					                    	<!-- angular input element -->
										<input type="text" class="form-control" id="email" required data-validation-required-message="Please enter your password" ng-model="ctrl.update.password">
											<!-- angular input element -->
											<p class="help-block">(required)</p>
										</div>
									</div>


										<div class="control-group form-group">
					                    <div class="controls">

										<input ngf-select name="userPhoto" accept="image/*" ngf-max-size="2MB" type="file" ng-model="ctrl.photo">
										</br>
										<button ng-click="ctrl.upload(ctrl.photo)">Upload File</button>

										</br>
										</br>


										<button class="btn btn-primary btn-md" ng-click="ctrl.post(ctrl.update)">Post</button>

										</br>

										<button class="btn btn-primary btn-md" 	a ui-sref="editBreweries">Next</button>

									</fieldset>

								</div>

								<div class="col-md-4"> 		        	                    
									<img src="/img/beermug.png" class="beermugsignup">
									</divs>
						</div>


				</div>
		</div>
	</div>

<!--  -->

<p>Id: <input type="text" ng-model="ctrl.chooseId"></p>

<button class="btn btn-primary btn-md" ng-click="ctrl.getAll()">Get All</button>
<button class="btn btn-primary btn-md" ng-click="ctrl.getOne(ctrl.chooseId)">Get One</button>
<button class="btn btn-primary btn-md" ng-click="ctrl.post(ctrl.update)">Post</button>
<button class="btn btn-primary btn-md" ng-click="ctrl.put(ctrl.chooseId, ctrl.update)">Put</button>
<button class="btn btn-primary btn-md" ng-click="ctrl.del(ctrl.chooseId)">Delete</button>

<div>
	{{ctrl.users}}
</div>


</body>
</html>