<body>
		<div class="container-fluid">

			<div class="row row-centered">
				<h1>The 6ix Hops Log In </h1>
				        <div class="col-md-2 col-centered text-centered">
		
					

					<h2>{{ctrl.testMsg}}</h2>

					

				    		<form>

				        		<div class="control-group form-group ">
									<div class="controls">

										<input type="text" class="form-control-login"  required data-validation-required-message="Please enter your username/email." ng-model="ctrl.user.email" type="email" name="email" placeholder="Email">
										</br>
									
									</div>	
								</div>
										
									
								<div class="control-group form-group ">
									<div class="controls">

											<input type="text" class="form-control-login" id="email" required data-validation-required-message="Please enter your password." ng-model="ctrl.user.password" type="text" name="password" placeholder="password">
											</br>
											<input type="text" class="form-control-login" id="email" required data-validation-required-message="Re-enter your password." ng-model="ctrl.repassword" type="text" name="repassword" placeholder="password">
											</br>

									</div>
								</div>
								
								<!-- captcha code -->
<!-- 								<div class="g-recaptcha" data-sitekey="6Ldx4hoTAAAAABZpHHVq2ONeRP-DRDIV_iiyhu9A"></div>
 -->

			    </form>

			    <button  class="btn btn-primary btn-md" ng-click="ctrl.authenticate(ctrl.user)" type="submit">{{ctrl.auth_btn}}</button>
			    <button  class="btn btn-primary btn-md" ng-click="ctrl.register(ctrl.user)" type="submit">{{ctrl.register_btn}}</button>
			    <button  class="btn btn-primary btn-md" ng-click="ctrl.logOut()" type="submit">Logout</button>

			</div>
		</div>
	</div>						
		

</br>
		
</body>
