<body>
		<div class="container-fluid">

			<div class="row row-centered">
			</br>

				<img src="img/bottlelogomainhalfsize.png">

				<h1>The 6ix Hops</h1>
								
					        <div class="col-md-4 col-centered text-centered">
								
								</br>

					    		<form>

				        		<div class="control-group form-group">
									<div class="controls">
									Enter your Email: <br>
										<input type="text" class="form-control-login"  required data-validation-required-message="Please enter your username/email." ng-model="ctrl.user.email" type="email" name="email" placeholder="Email">
										</br>
									
									</div>	
								</div>
										
									
								<div class="control-group form-group ">
									<div class="controls">
									Enter your Password: <br>
											<input type="text" class="form-control-login" id="email" required data-validation-required-message="Please enter your password." ng-model="ctrl.user.password" type="text" name="password" placeholder="password">
											</br>
											<br>
									Re-Enter your Password: <br>
											<input type="text" class="form-control-login" id="email" required data-validation-required-message="Re-enter your password." ng-model="ctrl.repassword" type="text" name="reenterpassword" placeholder="re enter password">
											</br>

									</div>
								</div>
								
								<!-- captcha code -->
							<!--	<div class="g-recaptcha" data-sitekey="6Ldx4hoTAAAAABZpHHVq2ONeRP-DRDIV_iiyhu9A"></div> -->

			    		</form>

			    	</br>

				   <ul class="list-inline"> 	
					    <li><button  class="btn btn-primary btn-md" ng-click="ctrl.authenticate(ctrl.user)" type="submit">{{ctrl.auth_btn}}</button></li>
					   <li><button  class="btn btn-primary btn-md" ng-click="ctrl.register(ctrl.user)" type="submit">{{ctrl.register_btn}}</button></li>
					   <li><button  class="btn btn-primary btn-md" ng-click="ctrl.logOut()" type="submit">Logout</button></li>
					  
					</ul>
					</br>
					<ul class="list-inline">
						<li></li>
					</ul>	
			
					</div>		
			</div>
		</div>
	</div>	

		<div class="container-fluid">	

			<div class="row">
								<div class="col-lg-4">

								<!--	<div class="g-recaptcha" data-sitekey="6Ldx4hoTAAAAABZpHHVq2ONeRP-DRDIV_iiyhu9A"></div> -->

									</div>	
				  </div>					
		</div>
</br>
		
</body>
